<% include partials/header %>

<div class='login form-group text-center'>
    <form action='/login' method='POST'>
        <input class='form-control' type='text' name='username' placeholder='username'>
        <input class='form-control' type='password' name='password' placeholder='password'>
        <button class='btn btn-outline-primary mt-3'>Login</button>
    </form>
</div>

<% include partials/footer %>
