<% include partials/header %>

<div class="container">
      <h2 class='text-center'>Terms of Use</h2>
        <p>Please read the following Terms of Use carefully.</p> 
	<p>These Terms of Use govern your access to and use of the site. This is a legal agreement between you and passportlandia.com.</p>
    <h3>1. Age Requirement</h3>
    <p>You must be 13 years or older to use this site.</p>
    <h3>2. Disclaimers</h3>
	<p>passportlandia.com ("PASSPORTLANDIA") is for entertainment purposes only. PASSPORTLANDIA does not warrant or make any representations concerning the safety of a location linked on its website. Users of this site accept full responsibility for any visits they make to a location listed on the website. PASSPORTLANDIA assumes no responsibility for any consequences relating directly or indirectly to any action or inaction you take based on the information or content of this site. Users of this site are subject to this disclaimer:
    <strong>BY USING THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT ACCEPT THESE TERMS OF USE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SITE</strong></p>
	<h3>3. Use License</h3>
		<p>Permission is granted to temporarily download one copy of the materials (information or software) on PASSPORTLANDIA for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
modify or copy the materials; use the materials for any commercial purpose, or for any public display (commercial or non-commercial); attempt to decompile or reverse engineer any software contained on PASSPORTLANDIA;
remove any copyright or other proprietary notations from the materials; or transfer the materials to another person or "mirror" the materials on any other server. This license shall automatically terminate if you violate any of these restrictions and may be terminated by PASSPORTLANDIA at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
	<h3>4. Limitations</h3>
		<p>In no event shall PASSPORTLANDIA be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on PASSPORTLANDIA's website, even if PASSPORTLANDIA or a PASSPORTLANDIA authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
	<h3>5. Accuracy of materials</h3>
		<p>The materials appearing on PASSPORTLANDIA website could include technical, typographical, or photographic errors. PASSPORTLANDIA does not warrant that any of the materials on its website are accurate, complete or current. PASSPORTLANDIA may make changes to the materials contained on its website at any time without notice. However PASSPORTLANDIA does not make any commitment to update the materials.</p>
	<h3>6. Modifications</h3>
		<p>PASSPORTLANDIA may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
	<h3>7. Governing Law</h3>
		<p>These terms and conditions are governed by and construed in accordance with the laws of Oregon and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
</div>

<% include partials/footer %>