<% include partials/header %>

<div class='container'>
    <div class="alert alert-danger" role="alert">
      I'm sorry, but that is not the correct answer. Please try again.
    </div>
</div>

<div class='container'>
    <a href='/stamps/<%= stamp_id %>'>Go Back</a>
</div>


<% include partials/footer %>
